<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">{% block headline %}{% endblock %}</div>

    {% block content %}{% endblock %}
</body>
</html>
